{% extends "oscar/checkout/payment_details.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript"
		src="https://js.squareup.com/v2/paymentform"></script> 
<script>
    var sqPaymentForm = new SqPaymentForm({
      // Replace this value with your application's ID (available from the merchant dashboard).
      // If you're just testing things out, replace this with your _Sandbox_ application ID,
      // which is also available there.
	  applicationId: '{{ square_app }}',
      inputClass: 'sq-input',
      cardNumber: {
        elementId: 'sq-card-number',
        placeholder: "0000 0000 0000 0000"
      },
      cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
      },
      expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
      },
      postalCode: {
        elementId: 'sq-postal-code',
        placeholder: 'Postal Code'
      },
      inputStyles: [
        // Because this object provides no value for mediaMaxWidth or mediaMinWidth,
        // these styles apply for screens of all sizes, unless overridden by another
        // input style below.
        {
          fontSize: '14px',
          padding: '3px'
        },
        // These styles are applied to inputs ONLY when the screen width is 400px
        // or smaller. Note that because it doesn't specify a value for padding,
        // the padding value in the previous object is preserved.
        {
          mediaMaxWidth: '400px',
          fontSize: '18px',
        }
      ],
      callbacks: {
        cardNonceResponseReceived: function(errors, nonce, cardData) {
          if (errors) {
            var errorDiv = document.getElementById('errors');
            errorDiv.innerHTML = "";
            errors.forEach(function(error) {
              var p = document.createElement('p');
              p.innerHTML = error.message;
              errorDiv.appendChild(p);
            });
          } else {
            // This alert is for debugging purposes only.
		    if (console) {
              console.log('Nonce received! ' + nonce + ' ' + JSON.stringify(cardData));
			}
            // Assign the value of the nonce to a hidden form element
            var nonceField = document.getElementById('id_nonce');
            nonceField.value = nonce;
            // Submit the form
            document.getElementById('form').submit();
          }
        },
        unsupportedBrowserDetected: function() {
			// Alert the buyer that their browser is not supported
			err = document.getElementById('messages');
			err.innerHTML = '\
	<div class="alert alert-danger  fade in" role="alert">\
        <button type="button" class="close" data-dismiss="alert"\
			aria-label="Close"><span aria-hidden="true">×</span></button>\
        <div class="alertinner wicon">\
			We are sorry, but our payment processor does not support your\
			browser. Please <a href="/contact/">contact us</a> to arrange a \
			different payment method.\
			<i class="icon-exclamation-sign"></i>\
        </div>\
    </div>';
        }
      }
    });
    function submitButtonClick(event) {
      event.preventDefault();
      sqPaymentForm.requestCardNonce();
    }
  </script>
{% endblock %}

{% block extrastyles %}
	<style type="text/css">
		.sq-input {
		  border: 1px solid #CCCCCC;
		  margin-bottom: 10px;
		  padding: 1px;
		}
		.sq-input--focus {
		  outline-width: 5px;
		  outline-color: #70ACE9;
		  outline-offset: -1px;
		  outline-style: auto;
		}
		.sq-input--error {
		  outline-width: 5px;
		  outline-color: #FF9393;
		  outline-offset: 0px;
		  outline-style: auto;
		}
	</style>
{% endblock %}

{% block payment_details_content %}
	<noscript>
		<h1>Square requires Javascript</h1>
		<p>
			We apologize, but our payment processor requires that Javascript is
			enabled to use their service.
		</p>
	</noscript>
	<h1>Pay with Square</h1>
	<div id="errors" class="bg-danger text-danger">
	</div>
	<div id="messages" class="bg-warning text-warning">
	</div>
	<form id="form" action="{% url 'checkout:preview' %}" novalidate method="post">
		{% csrf_token %}
		<p>
			<label for="sq-card-number">
				Credit Card
			</label>
			<div id="sq-card-number"></div>
		</p>
		<p>
			<label for="sq-cvv">
				CVV
			</label>
			<div id="sq-cvv"></div>
		</p>
		<p>
			<label for="sq-expiration-date">
				Expiration Date
			</label>
			<div id="sq-expiration-date"></div>
		</p>
		<p>
			<label for="sq-postal-code">
				Postal Code (of card billing address)
			</label>
			<div id="sq-postal-code"></div>
		</p>
		<div class="form-group clearfix">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-9">
					<button type="submit" onclick="submitButtonClick(event)" id="card-nonce-submit"
						class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">
						{% trans "Place order" %}</button>
				</div>
			</div>
		</div>
		{% comment %}
			The form above is submitted & processed using Javascript. The
			square_form below is where the card nonce is stored, and actually
			submitted to Oscar via the payment_details view.
		{% endcomment %}
		<div style="display: none;">
			{{ square_form }}
		</div>
	</form>
{% endblock payment_details_content %}

